@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('../img/bg.png') no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: auto;
    }
}

:root{
    --main-color: #2E4374;
    --second-color: #FFF5E0;
    --text-color: #000000;
}

header{
    text-align: center;
}

button{
    width: 100%;
    margin-bottom: 20px;
}

/* SEGITIGA */

.SegitigaBtn{
    background-color: var(--main-color);
    padding: 20px;
    font-size: 28px;
    color: var(--second-color);
    border-radius: 5px;
    width: 75%;
    display: block;
    margin: 20px auto;
}

.SegitigaBtn:hover{
    background: var(--second-color);
    color: var(--main-color);
    letter-spacing: 2px;
    transition: 0.2s;
}

form{
    border: 2px solid var(--main-color);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(252, 251, 243);
}

.buttonSegitiga{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonSegitiga button {
    flex: 5;
    margin: 20px 20px;
    background-color: var(--second-color);
    color: var(--main-color);
    font-size: 18px;
    border-color: var(--second-color);
    border-radius: 5px;
    padding: 15px 40px;
}

.buttonSegitiga button:hover{
    background-color: #FFE7C1;
    line-height: 10px;
    transition: 0.2s;
}

/* LUAS SEGITIGA */

.luassegitiga h1{
    text-align: center;
    margin-top: -2px;
    margin-bottom: 30px;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 50px;
}

.heading-judul{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.luassegitiga img{
    width: 30%;
    display: block;
    margin: 0 auto; 
}

.hidden{
    display: none;
}

table.LuasSegitiga {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.LuasSegitiga input {
    display: flex;
    width: 100%;
    box-sizing: border-box; 
    padding: 8px; 
    margin: 4px 0; 
}

.centered-button {
    width: 20%;
    display: block;
    margin: 15px auto;
    font-size: 18px;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 20px 10px;
    border-radius: 5px;
}

.centered-button:hover{
    background-image: linear-gradient(to right, rgb(82, 84, 151) , rgb(30, 27, 90));
    letter-spacing: 2px;
    transition: 0.2s;
}

.reset-button {
    width: 20%;
    display: block;
    margin: 80px 10px 20px auto;
    font-size: 15px;
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 10px 10px;
    border-radius: 10px;
}

.reset-button:hover{
    text-shadow: 2px -4px 8px  rgb(11, 26, 63);
    transition: 0.1s;
}

/* KELILING SEGITIGA */

.kelilingsegitiga h1{
    text-align: center;
    margin-top: -2px;
    margin-bottom: 30px;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 50px;
}

.kelilingsegitiga img{
    width: 30%;
    display: block;
    margin: 0 auto; 
}

.hidden{
    display: none;
}

table.KelilingSegitiga {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.KelilingSegitiga input {
    display: flex;
    width: 100%;
    box-sizing: border-box; 
    padding: 8px; 
    margin: 4px 0; 
}

/* JAJARGENJANG */

.JajargenjangBtn{
    background-color: var(--main-color);
    padding: 20px;
    font-size: 28px;
    color: var(--second-color);
    border-radius: 5px;
    width: 75%;
    display: block;
    margin: 20px auto;
}

.JajargenjangBtn:hover{
    background: var(--second-color);
    color: var(--main-color);
    letter-spacing: 2px;
    transition: 0.2s;
}

.buttonJajargenjang{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonJajargenjang button{
    flex: 5;
    margin: 20px 20px;
    background-color: var(--second-color);
    color: var(--main-color);
    font-size: 18px;
    border-color: var(--second-color);
    border-radius: 5px;
    padding: 15px 40px;
}

.buttonJajargenjang button:hover{
    background-color: #FFE7C1;
    line-height: 10px;
    transition: 0.2s;
}

/* LUAS JAJARGENJANG */

.luasjajargenjang h1{
    text-align: center;
    margin-top: -2px;
    margin-bottom: 30px;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 50px;
}

.luasjajargenjang img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

table.LuasJajargenjang{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.LuasJajargenjang input{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 4px 0;
}

/* KELILING JAJARGENJANG */

.kelilingJajargenjang h1{
    text-align: center;
    margin-top: -2px;
    margin-bottom: 30px;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 50px;
}

.kelilingJajargenjang img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

table.KelilingJajargenjang {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.KelilingJajargenjang input{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 4px 0;
}